@charset "utf-8";
/* CSS Document */
.topContent .block{
	padding-left: 10px;
	padding-right: 10px;
}
.topContent h2{
	text-align: center;
}




/* 各コンテンツ */
.topContent .main{
}

.topContent .mainLead{
	background-color: #e50b09;
	padding: 12px 10px;
	color: #fff;
}

/**サービス一覧 common.cssに記述**/

.topContent .main{
}

