@charset "utf-8";
/* CSS Document */
.boxMake{
	background:#FEE2E2;
	border:solid 2px #D94444;
	border-radius:5px;
	padding:15px;
	position:relative;
}
.boxMake p{
	padding:0 0px 10px 0;
}
.boxMake .ph1{
}
.brandList{
	padding:0 10px 20px 10px;
}
.brandList ul{
	float:left;
	width:230px;
	font-size:12px;
}
.brandList ul li{
	padding:10px 0 10px 0;
	border-bottom:dotted 1px #CCC;
}

.flowBox{
	border:1px solid #FB7373;
	padding:10px;
	margin-bottom:20px;
}
.flowBox .ttl{
	text-align:center;
	padding:5px;
	background:#FB7373;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	margin-bottom:15px;
}
.flowBox ul{
	background:url(../img/flow_img.gif)  no-repeat left top;
	padding:0 0 0 80px;
	margin:0 15px 0 15px;
}
.flowBox ul li{
	background:url(../../../common/img/side_line.gif) repeat-x left bottom;
	padding:15px 0 20px 0;
}
.flowBox ul li:last-child{
	background:none;
}
.flowBox ul li em{
	font-weight:bold;
	font-size:16px;
	color:#393;
}
.lineU{
	border-bottom:1px solid #F66;
	padding-bottom:20px;
}

.boxTiming{
	margin-top: 10px;
	margin-bottom: 10px;
}
.boxTiming dl{
	background-color: #ECE8E0;
	margin-bottom: 15px;
	text-align: center;
	border: 1px solid #FB7474;
	border-radius: 5px;
	box-shadow: 0 6px 3px -3px rgba(0,0,0,0.3);
}
.boxTiming dt{
	background-color: #FB7474;
	padding: 5px;
	color: #fff;
	font-weight: bold;
}
.boxTiming dd{
	padding: 10px 0px;
	letter-spacing: -0.4em;
}
.boxTiming dd div{
	display: inline-table;
	margin: 0 3px;
	vertical-align: top;
}
.boxTiming dd span{
	display: table-cell;
	background-color: #fff;
	width: 85px;
	height: 85px;
	color: #FB7474;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	line-height: 1.4;
	letter-spacing: normal;
	border: 3px solid #FB7474;
	border-radius: 50%;
}
.boxTiming hr{
	width: 0;
	height: 0;
	border-style: solid;
	border-width:15px 25px 0;
	border-color: #CC0706 transparent transparent;
}
.boxTiming p{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.boxTiming p em{
	color: #CC0706;
	font-size: 20px;
	font-weight:inherit;
}





