@charset "utf-8";
/* CSS Document */

#contents .outline  td, #contents .outline  th{
	border:none;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
}


#faq #contents h1{
	margin-bottom: 0px;
}
#faq dl{
	padding:0px 0;
	margin: 0 -10px 10px;
}
#faq dt{
	font-size:16px;
	font-weight:bold;
	padding:3%;
	border-top: 1px solid #CCC;
}
#faq dt:before{
	content: "";
	display: inline-block;
	width: 30px;
	height: 26px;
	background-image: url(../../common/img/accordion_red.png);
	background-position:left top;
	background-repeat: no-repeat;
	background-size: contain;
	
}
#faq dd{
	padding:0 3% 3% 55px;
	display: none;
	background-image: url(../img/faq_a.gif);
	background-position:10px 0px;
	background-repeat: no-repeat;
	background-size: 40px;
	
}
#contents .contact td,#contents .contact th{
	padding:8px;
}

#flow .flowBox{
	margin-top:20px;
}
#flow .flowBox  li{
	padding:10px 0 20px 70px;
	border-top:1px dotted #CCC;
	background-size: 60px auto;
	background-repeat: no-repeat;
	background-position: 0 10px;
}
#flow .flowBox  li.flow1{background-image: url(../img/flow1.gif) ;}
#flow .flowBox  li.flow2{background-image: url(../img/flow2.gif) ;}
#flow .flowBox  li.flow3{background-image: url(../img/flow3.gif) ;}
#flow .flowBox  li.flow4{background-image: url(../img/flow4.gif) ;}
#flow .flowBox  li.flow5{background-image: url(../img/flow5.gif) ;}
#flow .flowBox  li.flow6{background-image: url(../img/flow6.gif) ;}
#flow .flowBox h2{
	background:none;
	border: none;
	padding:0 0 5px 0;
	margin:0px;
	color:#C00;
	font-weight:bold;
}
#flow .flowBox  li img{
	float: right;
	width: 20%;
}

.baBox .txt1{
	padding:15px;
}